<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.larrystudio.myledger">

    <application
        android:name=".LedgerApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_coins"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvvm.category.CategoryEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.category.CategoryManageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvvm.recordedit.RecordEditMVVMActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.main.MainMVVMActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.splash.SplashMVVMActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.recordedit.RecordEditMVPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.main.MainMVPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.SplashMVPActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>